*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px
  font-weight: 300;
}


.background-img{
  background-image: url(../images/soup.jpg);
  height: 650px;
  width: 100%;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;

}

.background-img h2{
  color: white;
  font-size: 7rem;
  font-weight: 300;
}



.information-container{
display: grid;
grid-template-columns: 65%;
justify-content: center;

}

.information-container h4{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}


.information-img{
  
}