*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px
  font-weight: 300;
}


.background-img{
  background-image: url(../images/soup.jpg);
  height: 650px;
  width: 100%;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;
  justify-content: center;

}

.background-img h2{
  color: white;
  font-size: 7rem;
  font-weight: 300;
}